* {
  font-family: sans-serif;
}

*::-moz-selection {
  color: var(--color-neutral-0);
  background-color: var(--color-primary-300);
}

*::selection {
  color: var(--color-neutral-0);
  background-color: var(--color-primary-300);
}

html {
  scroll-padding-top: 4.75rem;
}

:root {
  --color-primary-800: #9810fa;
  --color-primary-750: #8200db;
  --color-primary-700: #7f22fe;
  --color-primary-650: #7008e7;
  --color-primary-600: #7c3aed;
  --color-primary-550: #4f39f6;
  --color-primary-500: #8e51ff;
  --color-primary-450: #ad46ff;
  --color-primary-300: #a684ff;
  --color-primary-200: #c4b4ff;
  --color-primary-50: #f5f3ff;
  --color-primary-25: #ede9fe;
  --color-primary-20: #f3e8ff;
  --color-primary-15: #faf5ff;
  --color-neutral-0: #ffffff;
  --color-neutral-50: #f9fafb;
  --color-neutral-200: #e5e7eb;
  --color-text-800: #053541;
  --color-text-750: #364153;
  --color-text-700: #314158;
  --color-text-650: #1e2939;
  --color-text-600: #4a5565;
  --color-text-500: #6a7282;
  --color-text-400: #9aa2b0;
  --color-surface-950: #101828;
  --color-surface-900: #1d293d;
  --color-surface-100: #ddd6ff;
  --color-surface-75: #edeeea;
  --color-surface-50: #f8f7ff;
  --color-surface-25: #fbf7ff;
  --color-success-600: #00a63e;
  --color-success-50: #dbfce7;
  --color-warning-600: #e17100;
  --color-warning-500: #fe9a00;
  --color-danger-600: #fb2c36;
  --pad: 4.6875rem;
  --inset-1: -0.125rem;
  --inset-2: -1.125rem;
  --inset-3: 1.125rem;
}

a {
  color: inherit;
}

/* Star Global */
.GlobalName {
  text-align: center;
  gap: 1.125rem;
  margin-bottom: 3.75rem;
}
.GlobalName span {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--color-primary-650);
  padding: 0.5rem 1.25rem;
  background-image: linear-gradient(to right, var(--color-primary-50), var(--color-primary-15));
  width: -moz-fit-content;
  width: fit-content;
  border: 0.125rem solid var(--color-surface-100);
  letter-spacing: 0.0688rem;
}
.GlobalName span::after, .GlobalName span::before {
  content: "";
  position: absolute;
  height: 0.125rem;
  width: 4rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 6249.9375rem;
}
.GlobalName span::after {
  left: -0.9375rem;
  transform: translateX(-100%);
  background-image: linear-gradient(to right, transparent, var(--color-primary-500), var(--color-primary-700));
}
.GlobalName span::before {
  right: -0.9375rem;
  transform: translateX(100%);
  background-image: linear-gradient(to right, var(--color-primary-700), var(--color-primary-500), transparent);
}
.GlobalName h2 {
  font-size: 3rem;
  font-weight: 900;
  color: transparent;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, var(--color-primary-700), var(--color-primary-800), var(--color-warning-500));
}
.GlobalName p {
  margin-bottom: 0;
  font-size: 1.25rem;
  color: var(--color-text-600);
  max-width: 40.625rem;
}

/* End Global  */
.fixed-top {
  background-color: var(--color-neutral-0) !important;
}

.navbar {
  height: 100%;
}
.navbar .container {
  padding-block: 0.9375rem;
}
.navbar .container > .navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-surface-900);
}
.navbar .container > .navbar-toggler {
  box-shadow: none;
  border: none;
}
.navbar .container > .navbar-toggler:hover i {
  color: var(--color-primary-600);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover.show {
  transform: scale(1);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover {
  position: absolute;
  background-color: var(--color-neutral-0);
  width: 92%;
  height: 100vh;
  left: 4%;
  top: 101%;
  padding: 1.5625rem;
  border-radius: 1.25rem;
  transform: scale(0);
  transition: 0.5s;
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > div .box h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color-surface-950);
  margin-bottom: 1.125rem;
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .left {
  gap: 1.875rem;
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .left .box:first-child .box-card {
  margin-bottom: 1.0625rem;
  padding: 0.625rem;
  gap: 0.75rem;
  border-radius: 0.4375rem;
  transition: 0.5s;
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .left .box:first-child .box-card:hover {
  background-color: var(--color-neutral-50);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .left .box:first-child .box-card picture img {
  width: 4rem;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0.3125rem;
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .left .box:first-child .box-card .content p,
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .left .box:first-child .box-card .content span {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .left .box:first-child .box-card .content p {
  margin-bottom: 0;
  font-weight: 500;
  color: var(--color-surface-950);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .left .box:first-child .box-card .content span {
  color: var(--color-text-500);
  display: block;
  margin-top: -0.0625rem;
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .left .box:last-child div {
  display: flex;
  align-items: center;
  gap: 0.6875rem;
  margin-bottom: 0.9375rem;
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .left .box:last-child div p {
  color: var(--color-text-600);
  transition: 0.5s;
  margin-bottom: 0;
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .left .box:last-child div p:hover {
  color: var(--color-primary-600);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .left .box:last-child div i {
  font-size: 1.0625rem;
  color: var(--color-text-600);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right {
  gap: 2.1875rem;
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:first-child .cards-boxes {
  gap: 0.8125rem;
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:first-child .cards-boxes > .card-box:first-child {
  background-image: linear-gradient(to right, rgba(77, 23, 154, 0.5), rgba(89, 22, 139, 0.5)), url(../images/image03.webp);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:first-child .cards-boxes > .card-box:first-child:hover {
  background-image: linear-gradient(to right, rgba(77, 23, 154, 0.65), rgba(89, 22, 139, 0.65)), url(../images/image03.webp);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:first-child .cards-boxes > .card-box:nth-child(2) {
  background-image: linear-gradient(to right, rgba(77, 23, 154, 0.5), rgba(89, 22, 139, 0.5)), url(../images/image04.webp);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:first-child .cards-boxes > .card-box:nth-child(2):hover {
  background-image: linear-gradient(to right, rgba(77, 23, 154, 0.65), rgba(89, 22, 139, 0.65)), url(../images/image04.webp);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:first-child .cards-boxes > .card-box:last-child {
  background-image: linear-gradient(to right, rgba(77, 23, 154, 0.5), rgba(89, 22, 139, 0.5)), url(../images/image05.webp);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:first-child .cards-boxes > .card-box:last-child:hover {
  background-image: linear-gradient(to right, rgba(77, 23, 154, 0.65), rgba(89, 22, 139, 0.65)), url(../images/image05.webp);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:first-child .cards-boxes .card-box {
  border-radius: 0.625rem;
  padding: 1.125rem 0.9375rem;
  width: 16.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s;
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:first-child .cards-boxes .card-box h4 {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.125rem;
  color: var(--color-neutral-0);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:first-child .cards-boxes .card-box span {
  font-size: 0.875rem;
  color: var(--color-surface-100);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:last-child .cards-boxes {
  gap: 0.9375rem;
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:last-child .cards-boxes .card-box:first-child {
  box-shadow: 0 0 0.125rem var(--color-primary-700);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:last-child .cards-boxes .card-box:first-child:hover {
  box-shadow: 0 0 0.25rem var(--color-primary-700);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:last-child .cards-boxes .card-box:first-child::after {
  background-color: var(--color-surface-100);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:last-child .cards-boxes .card-box:first-child:hover h4 {
  color: var(--color-primary-700);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:last-child .cards-boxes .card-box:first-child .top .icon {
  background-color: var(--color-primary-25);
  color: var(--color-primary-700);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:last-child .cards-boxes .card-box:first-child a {
  color: var(--color-primary-700);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:last-child .cards-boxes .card-box:nth-child(2) {
  box-shadow: 0 0 0.125rem var(--color-success-600);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:last-child .cards-boxes .card-box:nth-child(2):hover {
  box-shadow: 0 0 0.25rem var(--color-success-600);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:last-child .cards-boxes .card-box:nth-child(2)::after {
  background-color: var(--color-success-50);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:last-child .cards-boxes .card-box:nth-child(2):hover h4 {
  color: var(--color-success-600);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:last-child .cards-boxes .card-box:nth-child(2) .top .icon {
  background-color: var(--color-success-50);
  color: var(--color-success-600);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:last-child .cards-boxes .card-box:nth-child(2) a {
  color: var(--color-success-600);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:last-child .cards-boxes .card-box:last-child {
  box-shadow: 0 0 0.125rem var(--color-primary-800);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:last-child .cards-boxes .card-box:last-child:hover {
  box-shadow: 0 0 0.25rem var(--color-primary-800);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:last-child .cards-boxes .card-box:last-child::after {
  background-color: var(--color-surface-25);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:last-child .cards-boxes .card-box:last-child:hover h4 {
  color: var(--color-primary-800);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:last-child .cards-boxes .card-box:last-child .top .icon {
  background-color: var(--color-primary-20);
  color: var(--color-primary-800);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:last-child .cards-boxes .card-box:last-child a {
  color: var(--color-primary-800);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:last-child .cards-boxes .card-box {
  background: var(--color-neutral-0);
  max-width: 17.5rem;
  gap: 0.5rem;
  padding: 1.25rem;
  border-radius: 0.75rem;
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:last-child .cards-boxes .card-box::after {
  content: "";
  position: absolute;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  opacity: 0.4;
  transition: 0.2s;
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:last-child .cards-boxes .card-box:hover::after {
  opacity: 0.7;
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:last-child .cards-boxes .card-box:hover .fa-arrow-right {
  transform: translateX(0.3125rem);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:last-child .cards-boxes .card-box .top {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:last-child .cards-boxes .card-box .top .icon {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  text-align: center;
  align-content: center;
  font-size: 1.125rem;
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:last-child .cards-boxes .card-box .top h4 {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--color-surface-950);
  margin-bottom: 0;
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:last-child .cards-boxes .card-box p {
  margin-bottom: 0;
  color: var(--color-text-600);
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:last-child .cards-boxes .card-box a {
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}
.navbar .container #navbarNavDropdown .navbar-nav .card-hover > .right > .box:last-child .cards-boxes .card-box a i {
  transition: 0.2s;
}
.navbar .container #navbarNavDropdown .navbar-nav .nav-item {
  margin-left: 1.875rem;
}
.navbar .container #navbarNavDropdown .navbar-nav .nav-item .nav-link {
  color: var(--color-text-700);
  font-weight: 500;
  padding: 0;
  display: block;
}
.navbar .container #navbarNavDropdown .navbar-nav .nav-item .nav-link::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.1563rem;
  left: 0;
  bottom: -0.3125rem;
  border-radius: 6249.9375rem;
  background-color: var(--color-primary-600);
  transition: 0.2s;
}
.navbar .container #navbarNavDropdown .navbar-nav .nav-item .nav-link.active {
  color: var(--color-primary-600);
  font-weight: 600;
}
.navbar .container #navbarNavDropdown .navbar-nav .nav-item .nav-link.active::before {
  width: 100%;
}
.navbar .container #navbarNavDropdown .navbar-nav .nav-item .nav-link:hover {
  color: var(--color-primary-600);
}
.navbar .container #navbarNavDropdown .navbar-nav .nav-item .nav-link:hover::before {
  width: 100%;
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .dropdown-toggle::after {
  display: none !important;
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .nav-link i {
  font-size: 0.8125rem;
  color: var(--color-text-700);
  margin-left: 0.3125rem;
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .nav-link:hover i {
  color: var(--color-primary-600);
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 {
  display: none !important;
  padding: 0.75rem 0.9375rem;
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box {
  padding: 0.9375rem;
  border-radius: 0.9375rem;
  background-color: #f9fafb;
  margin-bottom: 1.25rem;
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box h3 {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--color-surface-950);
  margin-bottom: 1.125rem;
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:first-child {
  margin-top: 1.25rem;
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:first-child .counter .box-card {
  padding: 0.625rem;
  gap: 0.75rem;
  border-radius: 0.4375rem;
  transition: 0.5s;
  background-color: var(--color-neutral-0);
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:first-child .counter .box-card:hover {
  background-color: var(--color-primary-50);
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:first-child .counter .box-card picture img {
  width: 3rem;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0.3125rem;
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:first-child .counter .box-card .content p,
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:first-child .counter .box-card .content span {
  font-size: 0.75rem;
  line-height: 1.25rem;
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:first-child .counter .box-card .content p {
  margin-bottom: 0;
  font-weight: 500;
  color: var(--color-surface-950);
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:first-child .counter .box-card .content span {
  color: var(--color-text-500);
  display: block;
  margin-top: -0.0625rem;
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:nth-child(2) .counter {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:nth-child(2) .counter div {
  display: flex;
  align-items: center;
  gap: 0.6875rem;
  width: calc((100% - 0.625rem) / 2);
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:nth-child(2) .counter div p {
  color: var(--color-text-600);
  transition: 0.5s;
  margin-bottom: 0;
  font-size: 0.875rem;
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:nth-child(2) .counter div p:hover {
  color: var(--color-primary-600);
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:nth-child(2) .counter div i {
  font-size: 0.875rem;
  color: var(--color-text-600);
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:nth-child(3) .cards-boxes {
  gap: 0.8125rem;
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:nth-child(3) .cards-boxes > .card-box:first-child {
  background-image: linear-gradient(to right, rgba(77, 23, 154, 0.5), rgba(89, 22, 139, 0.5)), url(../images/image03.webp);
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:nth-child(3) .cards-boxes > .card-box:first-child:hover {
  background-image: linear-gradient(to right, rgba(77, 23, 154, 0.65), rgba(89, 22, 139, 0.65)), url(../images/image03.webp);
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:nth-child(3) .cards-boxes > .card-box:nth-child(2) {
  background-image: linear-gradient(to right, rgba(77, 23, 154, 0.5), rgba(89, 22, 139, 0.5)), url(../images/image04.webp);
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:nth-child(3) .cards-boxes > .card-box:nth-child(2):hover {
  background-image: linear-gradient(to right, rgba(77, 23, 154, 0.65), rgba(89, 22, 139, 0.65)), url(../images/image04.webp);
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:nth-child(3) .cards-boxes > .card-box:last-child {
  background-image: linear-gradient(to right, rgba(77, 23, 154, 0.5), rgba(89, 22, 139, 0.5)), url(../images/image05.webp);
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:nth-child(3) .cards-boxes > .card-box:last-child:hover {
  background-image: linear-gradient(to right, rgba(77, 23, 154, 0.65), rgba(89, 22, 139, 0.65)), url(../images/image05.webp);
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:nth-child(3) .cards-boxes .card-box {
  border-radius: 0.625rem;
  padding: 0.9375rem 0.75rem;
  flex: 1 1 11.25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s;
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:nth-child(3) .cards-boxes .card-box h4 {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 0.875rem;
  color: var(--color-neutral-0);
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:nth-child(3) .cards-boxes .card-box span {
  font-size: 0.6875rem;
  margin-top: 0.3125rem;
  display: block;
  color: var(--color-surface-100);
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:last-child .cards-boxes {
  gap: 0.9375rem;
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:last-child .cards-boxes .card-box:first-child {
  box-shadow: 0 0 0.125rem var(--color-primary-700);
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:last-child .cards-boxes .card-box:first-child:hover {
  box-shadow: 0 0 0.25rem var(--color-primary-700);
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:last-child .cards-boxes .card-box:first-child:hover h4 {
  color: var(--color-primary-700);
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:last-child .cards-boxes .card-box:first-child .top .icon {
  background-color: var(--color-primary-25);
  color: var(--color-primary-700);
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:last-child .cards-boxes .card-box:nth-child(2) {
  box-shadow: 0 0 0.125rem var(--color-success-600);
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:last-child .cards-boxes .card-box:nth-child(2):hover {
  box-shadow: 0 0 0.25rem var(--color-success-600);
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:last-child .cards-boxes .card-box:nth-child(2):hover h4 {
  color: var(--color-success-600);
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:last-child .cards-boxes .card-box:nth-child(2) .top .icon {
  background-color: var(--color-success-50);
  color: var(--color-success-600);
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:last-child .cards-boxes .card-box:last-child {
  box-shadow: 0 0 0.125rem var(--color-primary-800);
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:last-child .cards-boxes .card-box:last-child:hover {
  box-shadow: 0 0 0.25rem var(--color-primary-800);
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:last-child .cards-boxes .card-box:last-child:hover h4 {
  color: var(--color-primary-800);
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:last-child .cards-boxes .card-box:last-child .top .icon {
  background-color: var(--color-primary-20);
  color: var(--color-primary-800);
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:last-child .cards-boxes .card-box {
  background: var(--color-neutral-0);
  width: calc((100% - 0.9375rem) / 2);
  gap: 0.5rem;
  padding: 0.625rem;
  border-radius: 0.75rem;
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:last-child .cards-boxes .card-box:hover .fa-arrow-right {
  transform: translateX(0.3125rem);
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:last-child .cards-boxes .card-box .top {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:last-child .cards-boxes .card-box .top .icon {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  text-align: center;
  align-content: center;
  font-size: 0.875rem;
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:last-child .cards-boxes .card-box .top h4 {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--color-surface-950);
  margin-bottom: 0;
}
.navbar .container #navbarNavDropdown .navbar-nav .dropdown.nav-item .card-hover-2 .box:last-child .cards-boxes .card-box p {
  margin-bottom: 0;
  color: var(--color-text-600);
  font-size: 0.75rem;
}

#main #header {
  text-align: center;
  padding-block: 5rem 0.3125rem;
  background-color: #9810fa;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(77, 23, 154, 0.8), rgba(89, 22, 139, 0.8)), url("../images/image06.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#main #header .container h1 {
  font-size: 3.75rem;
  font-weight: 700;
  color: var(--color-neutral-0);
  margin-bottom: 0;
}
#main #header .container p {
  font-size: 1.25rem;
  line-height: 2.0625rem;
  color: var(--color-primary-25);
  max-width: 43.75rem;
  margin: 1.5625rem auto 2.5rem;
}
#main #header .container .content {
  padding: 1.875rem;
  max-width: 56.25rem;
  background-color: var(--color-neutral-0);
  margin-inline: auto;
  border-radius: 0.9375rem;
}
#main #header .container .content .row div {
  margin-bottom: 1.5625rem;
}
#main #header .container .content .row div i {
  bottom: 1.5625rem;
  left: 1.5625rem;
  transform: translateY(50%);
  color: var(--color-text-400);
}
#main #header .container .content .row div label {
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: var(--color-text-700);
  margin-bottom: 0.5rem;
}
#main #header .container .content .row div input,
#main #header .container .content .row div select {
  width: 100%;
  height: 3.125rem;
  padding-inline: 0.9375rem;
  border: 0.0625rem solid #d1d5db;
  border-radius: 0.5rem;
  outline: none;
  outline-width: 0.1875rem;
  outline-style: solid;
  outline-color: transparent;
  outline-offset: 0.125rem;
  transition: 0.3s;
}
#main #header .container .content .row div input:focus,
#main #header .container .content .row div select:focus {
  outline-color: var(--color-primary-800);
  border-color: var(--color-primary-800);
}
#main #header .container .content .row div input::-moz-placeholder {
  color: var(--color-text-400);
}
#main #header .container .content .row div input::placeholder {
  color: var(--color-text-400);
}
#main #header .container .content .row div select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#main #header .container .content .row div.position-relative input {
  padding-left: 3rem;
}
#main #header .container .content button {
  border: 0;
  color: var(--color-neutral-0);
  padding: 1.0625rem;
  font-size: 1.125rem;
  font-weight: 600;
  background-image: linear-gradient(90deg, var(--color-primary-700), var(--color-primary-800));
  border-radius: 0.5rem;
  transition: 0.2s;
}
#main #header .container .content button:hover {
  background-image: linear-gradient(90deg, var(--color-primary-650), var(--color-primary-750));
}
#main #header .container .content button i {
  margin-right: 0.4375rem;
}
#main #header .container .bottom {
  max-width: 50rem;
}
#main #header .container .bottom .box h5 {
  font-size: 1.875rem;
  font-weight: 700;
  color: var(--color-neutral-0);
  margin-bottom: 0;
}
#main #header .container .bottom .box span {
  color: var(--color-surface-100);
}
#main #Properties {
  padding-block: var(--pad);
  background-color: var(--color-neutral-50);
}
#main #Properties .container .row > div .card {
  border-radius: 1.25rem;
  border: none !important;
}
#main #Properties .container .row > div .card picture {
  height: 16rem;
}
#main #Properties .container .row > div .card picture img {
  -o-object-position: center;
  object-position: center;
  cursor: pointer;
  transition: 0.2s;
}
#main #Properties .container .row > div .card picture:hover img {
  transform: scale(1.09);
}
#main #Properties .container .row > div .card picture span:nth-child(2) {
  top: 0.9375rem;
  left: 0.9375rem;
  font-size: 0.875rem;
  padding: 0.1875rem 0.875rem;
  font-weight: 500;
  color: var(--color-neutral-0);
}
#main #Properties .container .row > div .card picture span:nth-child(2) + div {
  width: 2rem;
  height: 2.5rem;
  top: 0.9375rem;
  right: 0.9375rem;
  background-color: var(--color-surface-75);
  color: var(--color-text-600);
  cursor: pointer;
}
#main #Properties .container .row > div .card picture span:nth-child(2) + div:hover {
  color: var(--color-danger-600);
}
#main #Properties .container .row > div .card picture span:nth-child(2) + div + span {
  bottom: 0.9375rem;
  left: 0.9375rem;
  padding: 0.1875rem 0.6875rem;
  font-size: 0.875rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--color-neutral-0);
}
#main #Properties .container .row > div .card .card-body .top h5 {
  font-size: 1.875rem;
  font-weight: 700;
  color: var(--color-primary-700);
  margin-bottom: 0;
}
#main #Properties .container .row > div .card .card-body .top span {
  font-size: 0.875rem;
  color: var(--color-text-500);
}
#main #Properties .container .row > div .card .card-body > p {
  margin-bottom: 0;
}
#main #Properties .container .row > div .card .card-body > p:nth-child(2) {
  font-weight: 500;
  color: var(--color-text-600);
  margin-block: 0.9375rem;
}
#main #Properties .container .row > div .card .card-body > p:nth-child(3) {
  font-weight: 500;
  color: var(--color-text-600);
}
#main #Properties .container .row > div .card .card-body > p:nth-child(4) {
  color: var(--color-text-600);
  margin-block: 0.625rem 1.0625rem;
}
#main #Properties .container .row > div .card .card-body .bottom .left {
  gap: 0.5rem;
}
#main #Properties .container .row > div .card .card-body .bottom .left .icon {
  height: 2rem;
  aspect-ratio: 1/1;
}
#main #Properties .container .row > div .card .card-body .bottom .left .icon + span {
  font-size: 0.875rem;
  color: var(--color-text-600);
}
#main #Properties .container .row > div .card .card-body .bottom .right span {
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--color-primary-700);
  padding: 0.5rem 1rem;
  background-color: var(--color-primary-25);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s;
}
#main #Properties .container .row > div .card .card-body .bottom .right span:hover {
  background-color: var(--color-surface-100);
}
#main #Properties .container .row > div:first-child .card picture span:nth-child(2) {
  background-color: var(--color-primary-700);
}
#main #Properties .container .row > div:nth-child(2) .card picture span:nth-child(2) {
  background-color: var(--color-success-600);
}
#main #Properties .container .row > div:last-child .card picture span:nth-child(2) {
  background-color: var(--color-warning-600);
}
#main #Properties .container button {
  margin: 2.8125rem auto 0;
  padding: 1rem 2rem;
  font-weight: 600;
  color: white;
  background-image: linear-gradient(90deg, var(--color-primary-700), var(--color-primary-800));
  border-radius: 0.5rem;
  border: none;
  transition: 0.2s;
}
#main #Properties .container button:hover {
  background-image: linear-gradient(90deg, var(--color-primary-650), var(--color-primary-750));
}
#main #Properties .container button i {
  margin-left: 0.375rem;
}
#main #Services {
  padding-block: var(--pad);
}
#main #Services .container #pills-tab {
  border-bottom: 0.0625rem solid var(--color-neutral-200);
}
#main #Services .container #pills-tab .nav-item .nav-link {
  font-weight: 600;
  background-color: transparent;
  color: var(--color-text-600);
  padding: 1rem 1.5rem;
  line-height: 1.5rem;
  border-radius: 0rem;
  border-bottom: 0.125rem solid transparent;
  transition: 0.2s;
}
#main #Services .container #pills-tab .nav-item .nav-link:hover {
  color: var(--color-primary-700);
  border-bottom-color: var(--color-primary-200);
}
#main #Services .container #pills-tab .nav-item .nav-link.active {
  background-color: var(--color-primary-50);
  border-bottom-color: var(--color-primary-700);
  color: var(--color-primary-700);
}
#main #Services .container #pills-tab .nav-item .nav-link i {
  margin-right: 0.125rem;
}
#main #Services .container #pills-tabContent .tab-pane .content {
  margin-top: 0.9375rem;
}
#main #Services .container #pills-tabContent .tab-pane .content .left h3,
#main #Services .container #pills-tabContent .tab-pane .content .left p,
#main #Services .container #pills-tabContent .tab-pane .content .left h4 {
  margin-bottom: 0;
}
#main #Services .container #pills-tabContent .tab-pane .content .left h3 {
  font-size: 1.875rem;
  font-weight: 700;
  color: var(--color-surface-950);
}
#main #Services .container #pills-tabContent .tab-pane .content .left > p {
  font-size: 1.125rem;
  color: var(--color-text-600);
  margin-block: 1.6875rem 2.1875rem;
}
#main #Services .container #pills-tabContent .tab-pane .content .left .boxes {
  gap: 0.9375rem;
}
#main #Services .container #pills-tabContent .tab-pane .content .left .boxes .box {
  gap: 0.9375rem;
}
#main #Services .container #pills-tabContent .tab-pane .content .left .boxes .box .icon {
  height: 2.75rem;
  width: 2.75rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
}
#main #Services .container #pills-tabContent .tab-pane .content .left .boxes .box .box-content h4 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color-surface-950);
}
#main #Services .container #pills-tabContent .tab-pane .content .left .boxes .box .box-content p {
  line-height: 1.5rem;
  color: var(--color-text-600);
  margin-top: 0.5625rem;
}
#main #Services .container #pills-tabContent .tab-pane .content .left button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  margin-top: 1.75rem;
  color: var(--color-neutral-0);
}
#main #Services .container #pills-tabContent .tab-pane .content .right {
  height: 24rem;
}
#main #Services .container #pills-tabContent .tab-pane .content .right img {
  border-radius: 1rem;
}
#main #Services .container #pills-tabContent .tab-pane .content .right .layer {
  background-color: var(--color-neutral-0);
  padding: 1.5rem;
  border-radius: 0.5rem;
}
#main #Services .container #pills-tabContent .tab-pane .content .right .layer h5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0;
}
#main #Services .container #pills-tabContent .tab-pane .content .right .layer span {
  color: var(--color-text-600);
}
#main #Services .container #pills-tabContent #pills-Buying.tab-pane .content .left .boxes .box .icon {
  background-color: var(--color-primary-25);
  color: var(--color-primary-700);
}
#main #Services .container #pills-tabContent #pills-Buying.tab-pane .content .left button {
  background-color: var(--color-primary-700);
}
#main #Services .container #pills-tabContent #pills-Buying.tab-pane .content .left button:hover {
  background-color: var(--color-primary-650);
}
#main #Services .container #pills-tabContent #pills-Buying.tab-pane .content .right .layer h5 {
  color: var(--color-primary-700);
}
#main #Services .container #pills-tabContent #pills-Selling.tab-pane .content .left .boxes .box .icon {
  background-color: #dbfce7;
  color: #00a63e;
}
#main #Services .container #pills-tabContent #pills-Selling.tab-pane .content .left button {
  background-color: #00a63e;
}
#main #Services .container #pills-tabContent #pills-Selling.tab-pane .content .left button:hover {
  background-color: #008235;
}
#main #Services .container #pills-tabContent #pills-Selling.tab-pane .content .right .layer h5 {
  color: #00a63e;
}
#main #Services .container #pills-tabContent #pills-Renting.tab-pane .content .left .boxes .box .icon {
  background-color: #f3e8ff;
  color: #9811fa;
}
#main #Services .container #pills-tabContent #pills-Renting.tab-pane .content .left button {
  background-color: #9811fa;
}
#main #Services .container #pills-tabContent #pills-Renting.tab-pane .content .left button:hover {
  background-color: #8200db;
}
#main #Services .container #pills-tabContent #pills-Renting.tab-pane .content .right .layer h5 {
  color: #9811fa;
}
#main #Services .container #pills-tabContent #pills-Investing.tab-pane .content .left .boxes .box .icon {
  background-color: #fef9c2;
  color: #d08700;
}
#main #Services .container #pills-tabContent #pills-Investing.tab-pane .content .left button {
  background-color: #d08700;
}
#main #Services .container #pills-tabContent #pills-Investing.tab-pane .content .left button:hover {
  background-color: #a65f00;
}
#main #Services .container #pills-tabContent #pills-Investing.tab-pane .content .right .layer h5 {
  color: #d08700;
}
#main #Services .container #pills-tabContent #pills-Commercial.tab-pane .content .left .boxes .box .icon {
  background-color: #e0e7ff;
  color: var(--color-primary-550);
}
#main #Services .container #pills-tabContent #pills-Commercial.tab-pane .content .left button {
  background-color: var(--color-primary-550);
}
#main #Services .container #pills-tabContent #pills-Commercial.tab-pane .content .left button:hover {
  background-color: #432dd7;
}
#main #Services .container #pills-tabContent #pills-Commercial.tab-pane .content .right .layer h5 {
  color: var(--color-primary-550);
}
#main #Services .container #pills-tabContent #pills-Buying.tab-pane .content .right .layer,
#main #Services .container #pills-tabContent #pills-Renting.tab-pane .content .right .layer,
#main #Services .container #pills-tabContent #pills-Commercial.tab-pane .content .right .layer {
  inset: auto auto var(--inset-2) var(--inset-1);
}
#main #Services .container #pills-tabContent #pills-Selling.tab-pane .content .right .layer,
#main #Services .container #pills-tabContent #pills-Investing.tab-pane .content .right .layer {
  inset: auto var(--inset-1) var(--inset-2) auto;
}
#main #Testimonials {
  background-image: linear-gradient(to right, #4d179a, #59168b);
  padding-block: var(--pad);
}
#main #Testimonials .container .GlobalName span::after {
  background-image: linear-gradient(to right, transparent, oklch(82.8% 0.189 84.429deg), oklch(76.9% 0.188 70.08deg));
}
#main #Testimonials .container .GlobalName span::before {
  background-image: linear-gradient(to right, oklch(76.9% 0.188 70.08deg), oklch(82.8% 0.189 84.429deg), transparent);
}
#main #Testimonials .container .GlobalName h2 {
  color: var(--color-neutral-0);
}
#main #Testimonials .container .GlobalName p {
  color: var(--color-surface-100);
}
#main #Testimonials .container #carouselExampleIndicators .carousel-indicators {
  position: static;
  display: flex;
  justify-content: center;
  margin-block: 3.125rem 0;
  gap: 0.5rem;
}
#main #Testimonials .container #carouselExampleIndicators .carousel-indicators button {
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  margin: 0;
  border: none;
}
#main #Testimonials .container #carouselExampleIndicators .carousel-indicators button:hover {
  background-color: var(--color-neutral-0);
  opacity: 1;
}
#main #Testimonials .container #carouselExampleIndicators > button {
  height: 3rem;
  width: 3rem;
  transform: translateY(-50%);
  top: 50%;
  border-radius: 50%;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.2);
  transition: 0.2s;
}
#main #Testimonials .container #carouselExampleIndicators > button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
#main #Testimonials .container #carouselExampleIndicators > button i {
  font-size: 1.125rem;
}
#main #Testimonials .container #carouselExampleIndicators .carousel-control-prev {
  left: 3.75rem;
}
#main #Testimonials .container #carouselExampleIndicators .carousel-control-next {
  right: 3.75rem;
}
#main #Testimonials .container #carouselExampleIndicators .carousel-inner {
  width: 80%;
  margin: auto;
}
#main #Testimonials .container #carouselExampleIndicators .carousel-inner .carousel-item {
  padding-inline: 2.5rem;
}
#main #Testimonials .container #carouselExampleIndicators .carousel-inner .carousel-item .content {
  padding: 2.1875rem;
  background-color: var(--color-neutral-0);
  gap: 1.875rem;
  border-radius: 1.25rem;
}
#main #Testimonials .container #carouselExampleIndicators .carousel-inner .carousel-item .content p,
#main #Testimonials .container #carouselExampleIndicators .carousel-inner .carousel-item .content h3 {
  margin-bottom: 0;
}
#main #Testimonials .container #carouselExampleIndicators .carousel-inner .carousel-item .content .top {
  gap: 0.9375rem;
}
#main #Testimonials .container #carouselExampleIndicators .carousel-inner .carousel-item .content .top .stars i {
  font-size: 1.25rem;
  color: #ffb900;
}
#main #Testimonials .container #carouselExampleIndicators .carousel-inner .carousel-item .content .top span {
  font-weight: 500;
  color: var(--color-text-600);
}
#main #Testimonials .container #carouselExampleIndicators .carousel-inner .carousel-item .content p {
  font-size: 1.25rem;
  line-height: 2.0625rem;
  color: var(--color-text-750);
}
#main #Testimonials .container #carouselExampleIndicators .carousel-inner .carousel-item .content .bottom {
  gap: 0.9375rem;
}
#main #Testimonials .container #carouselExampleIndicators .carousel-inner .carousel-item .content .bottom .left {
  height: 4rem;
  aspect-ratio: 1/1;
}
#main #Testimonials .container #carouselExampleIndicators .carousel-inner .carousel-item .content .bottom .right h3 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
  color: var(--color-surface-950);
}
#main #Testimonials .container #carouselExampleIndicators .carousel-inner .carousel-item .content .bottom .right span {
  display: block;
  line-height: 1.5rem;
  color: var(--color-text-600);
}
#main #Testimonials .container #carouselExampleIndicators .carousel-inner .carousel-item .content .bottom .right span:last-child {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--color-text-500);
}
#main #FAQ {
  padding-block: var(--pad);
  background-color: var(--color-neutral-50);
}
#main #FAQ .container .GlobalName h2 {
  background-image: linear-gradient(to right, var(--color-primary-700), var(--color-primary-650), var(--color-primary-800));
}
#main #FAQ .container #accordionExample {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  align-items: center;
}
#main #FAQ .container #accordionExample .accordion-item {
  border: none !important;
  width: 70%;
  box-shadow: 0 0.625rem 0.9375rem -0.1875rem rgba(0, 0, 0, 0.1019607843), 0 0.25rem 0.375rem -0.25rem rgba(0, 0, 0, 0.1019607843);
  border-radius: 1rem;
  overflow: hidden;
}
#main #FAQ .container #accordionExample .accordion-item .accordion-header {
  padding: 0;
  margin-bottom: 0;
}
#main #FAQ .container #accordionExample .accordion-item .accordion-header .accordion-button {
  color: var(--color-surface-950);
  background-color: var(--color-neutral-0);
  box-shadow: none;
  border: none;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
#main #FAQ .container #accordionExample .accordion-item .accordion-header .accordion-button::after {
  display: none;
}
#main #FAQ .container #accordionExample .accordion-item .accordion-header .accordion-button .icon {
  transition: transform 0.3s ease;
  color: var(--color-text-500);
  font-size: 1.25rem;
}
#main #FAQ .container #accordionExample .accordion-item .accordion-header .accordion-button:not(.collapsed) .icon {
  transform: rotate(180deg);
}
#main #FAQ .container #accordionExample .accordion-item .accordion-header .accordion-button:hover {
  background-color: var(--color-neutral-50);
}
#main #FAQ .container #accordionExample .accordion-item .accordion-collapse .accordion-body {
  padding: 1.5rem 2rem;
  line-height: 1.625rem;
  color: var(--color-text-600);
}
#main #Contact {
  padding-block: var(--pad);
}
#main #Contact .container > .row:nth-child(2) .box .inner {
  border: 0.125rem solid #f3f4f6;
  gap: 0.625rem;
  padding: 1.5rem;
  border-radius: 1rem;
  display: grid;
  transition: 0.3s;
}
#main #Contact .container > .row:nth-child(2) .box .inner:hover {
  transform: translateY(-0.625rem);
}
#main #Contact .container > .row:nth-child(2) .box .inner .icon {
  height: 4rem;
  aspect-ratio: 1/1;
  border-radius: 1rem;
  background-color: #00a63e;
  margin-bottom: 0.3125rem;
}
#main #Contact .container > .row:nth-child(2) .box .inner .icon i {
  font-size: 1.5rem;
  color: var(--color-neutral-0);
}
#main #Contact .container > .row:nth-child(2) .box .inner p {
  margin-bottom: 0;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--color-surface-950);
  line-height: 1.75rem;
}
#main #Contact .container > .row:nth-child(2) .box .inner span {
  font-size: 0.875rem;
  color: var(--color-text-600);
  line-height: 1.25rem;
}
#main #Contact .container > .row:nth-child(2) .box .inner a {
  font-weight: 600;
  line-height: 1.5rem;
}
#main #Contact .container > .row:nth-child(2) > .box:first-child .inner:hover {
  border-color: var(--color-primary-200);
}
#main #Contact .container > .row:nth-child(2) > .box:first-child .inner .icon {
  background-image: linear-gradient(to bottom right, var(--color-primary-500), var(--color-primary-700));
}
#main #Contact .container > .row:nth-child(2) > .box:first-child .inner a {
  color: var(--color-primary-650);
}
#main #Contact .container > .row:nth-child(2) > .box:nth-child(2) .inner:hover {
  border-color: #dab2ff;
}
#main #Contact .container > .row:nth-child(2) > .box:nth-child(2) .inner .icon {
  background-image: linear-gradient(to bottom right, var(--color-primary-450), var(--color-primary-800));
}
#main #Contact .container > .row:nth-child(2) > .box:nth-child(2) .inner a {
  color: #8200db;
}
#main #Contact .container > .row:nth-child(2) > .box:nth-child(3) .inner:hover {
  border-color: #f4a8ff;
}
#main #Contact .container > .row:nth-child(2) > .box:nth-child(3) .inner .icon {
  background-image: linear-gradient(to bottom right, #e12afb, var(--color-warning-500));
}
#main #Contact .container > .row:nth-child(2) > .box:nth-child(3) .inner a {
  color: #e60076;
}
#main #Contact .container > .row:nth-child(2) > .box:nth-child(4) .inner:hover {
  border-color: #a3b3ff;
}
#main #Contact .container > .row:nth-child(2) > .box:nth-child(4) .inner .icon {
  background-image: linear-gradient(to bottom right, #615fff, var(--color-primary-550));
}
#main #Contact .container > .row:nth-child(2) > .box:nth-child(4) .inner a {
  color: #432dd7;
}
#main #Contact .container > .row:last-child {
  margin-top: 3.125rem;
}
#main #Contact .container > .row:last-child .left .inner .top {
  padding: 2rem;
  border-radius: 1rem;
  background-color: #f4f5f7;
  margin-bottom: 1.5625rem;
}
#main #Contact .container > .row:last-child .left .inner .top h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-surface-950);
  margin-bottom: 1.5rem;
}
#main #Contact .container > .row:last-child .left .inner .top .boxes {
  gap: 1.25rem;
}
#main #Contact .container > .row:last-child .left .inner .top .boxes .box {
  gap: 1rem;
}
#main #Contact .container > .row:last-child .left .inner .top .boxes .box .icon-box {
  height: 3rem;
  width: 3rem;
  border-radius: 0.5rem;
  background-color: var(--color-neutral-0);
}
#main #Contact .container > .row:last-child .left .inner .top .boxes .box .icon-box i {
  font-size: 1.0625rem;
}
#main #Contact .container > .row:last-child .left .inner .top .boxes .box .content-box h5 {
  margin-bottom: 0.25rem;
  font-weight: 600;
  line-height: 1.5rem;
  font-size: 1rem;
  color: var(--color-surface-950);
}
#main #Contact .container > .row:last-child .left .inner .top .boxes .box .content-box span {
  display: block;
  color: var(--color-text-600);
  font-size: 0.875rem;
  line-height: 1.25rem;
}
#main #Contact .container > .row:last-child .left .inner .top .boxes .box .content-box span a {
  text-decoration: none;
}
#main #Contact .container > .row:last-child .left .inner .top .boxes .box:first-child .icon-box i {
  color: var(--color-primary-700);
}
#main #Contact .container > .row:last-child .left .inner .top .boxes .box:nth-child(2) .icon-box i {
  color: var(--color-primary-800);
}
#main #Contact .container > .row:last-child .left .inner .top .boxes .box:nth-child(3) .icon-box i {
  color: #e60076;
}
#main #Contact .container > .row:last-child .left .inner .top .boxes .box:last-child .icon-box i {
  color: #4f39f6;
}
#main #Contact .container > .row:last-child .left .inner .bottom {
  background-image: linear-gradient(to bottom right, var(--color-primary-700), var(--color-primary-800));
  gap: 0.9375rem;
  padding: 2rem;
  border-radius: 1rem;
}
#main #Contact .container > .row:last-child .left .inner .bottom h3 {
  margin-bottom: 0;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: var(--color-neutral-0);
}
#main #Contact .container > .row:last-child .left .inner .bottom span {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #ede9fe;
}
#main #Contact .container > .row:last-child .left .inner .bottom .icons {
  margin-top: 0.3125rem;
}
#main #Contact .container > .row:last-child .left .inner .bottom .icons .icon {
  height: 3rem;
  width: 3rem;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--color-neutral-0);
  transition: 0.3s;
}
#main #Contact .container > .row:last-child .left .inner .bottom .icons .icon:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.3);
}
#main #Contact .container > .row:last-child .left .inner .bottom .icons .icon a {
  text-decoration: none;
}
#main #Contact .container > .row:last-child .right .inner {
  border: 0.125rem solid #f3f4f6;
  padding: 2.5rem;
  border-radius: 1rem;
}
#main #Contact .container > .row:last-child .right .inner h3,
#main #Contact .container > .row:last-child .right .inner p {
  margin-bottom: 0;
}
#main #Contact .container > .row:last-child .right .inner h3 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  color: var(--color-surface-950);
  margin-bottom: 0.75rem;
}
#main #Contact .container > .row:last-child .right .inner p {
  line-height: 1.5rem;
  color: var(--color-text-600);
}
#main #Contact .container > .row:last-child .right .inner .input-group {
  gap: 1.5625rem;
  margin-top: 1.5625rem;
}
#main #Contact .container > .row:last-child .right .inner .input-group .innergroup {
  flex-grow: 1;
}
#main #Contact .container > .row:last-child .right .inner .input-group .innergroup label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: var(--color-text-750);
  margin-bottom: 0.5rem;
}
#main #Contact .container > .row:last-child .right .inner .input-group .innergroup label span {
  color: #fb2c36;
}
#main #Contact .container > .row:last-child .right .inner .input-group .innergroup input,
#main #Contact .container > .row:last-child .right .inner .input-group .innergroup select,
#main #Contact .container > .row:last-child .right .inner .input-group .innergroup textarea {
  width: 100%;
  height: 3.1rem;
  border: none;
  outline-width: 0.125rem;
  outline-offset: 0.1875rem;
  outline-color: transparent;
  border: 0.0625rem solid transparent;
  outline-style: solid;
  border-radius: 0.75rem;
  transition: 0.2s;
  padding: 0 0.9375rem;
  background-color: var(--color-neutral-50);
}
#main #Contact .container > .row:last-child .right .inner .input-group .innergroup textarea {
  height: 9.125rem;
  padding: 0.9375rem;
  resize: none;
}
#main #Contact .container > .row:last-child .right .inner .input-group .innergroup input:focus,
#main #Contact .container > .row:last-child .right .inner .input-group .innergroup select:focus,
#main #Contact .container > .row:last-child .right .inner .input-group .innergroup textarea:focus {
  outline-color: oklch(60.6% 0.25 292.717deg);
  border-color: oklch(60.6% 0.25 292.717deg);
  background-color: var(--color-neutral-0);
}
#main #Contact .container > .row:last-child .right .inner .agree {
  background-color: var(--color-primary-50);
  gap: 0.8125rem;
  padding: 0.875rem;
  border-radius: 0.75rem;
  margin-block: 1.5rem;
}
#main #Contact .container > .row:last-child .right .inner .agree input {
  transform: scale(1.65);
  accent-color: #7f22fe;
  margin-left: 0.375rem;
}
#main #Contact .container > .row:last-child .right .inner .agree label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--color-text-750);
}
#main #Contact .container > .row:last-child .right .inner button {
  padding: 1rem 2rem;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--color-neutral-0);
  border: none;
  background-image: linear-gradient(to right, oklch(54.1% 0.281 293.009deg), oklch(55.8% 0.288 302.321deg));
  border-radius: 0.75rem;
  margin-bottom: 1.5rem;
  transition: 0.3s;
}
#main #Contact .container > .row:last-child .right .inner button:hover {
  transform: translateY(-0.25rem);
}
#main #Contact .container > .row:last-child .right .inner button i {
  margin-left: 0.5rem;
}
#main #Contact .container > .row:last-child .right .inner > span {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--color-text-500);
  display: block;
  text-align: center;
}
#main #Contact .layer {
  border-radius: 50%;
  aspect-ratio: 1/1;
}
#main #Contact .layer-1,
#main #Contact .layer-2 {
  width: 24rem;
  background-color: #f8f3ff;
}
#main #Contact .layer-1 {
  inset: 0 0 auto auto;
  transform: translate(50%, -50%);
}
#main #Contact .layer-2 {
  inset: auto auto 0 0;
  transform: translate(-50%, 50%);
}
#main #Contact .layer-3,
#main #Contact .layer-4 {
  border: 0.25rem solid var(--color-surface-100);
}
#main #Contact .layer-3 {
  width: 8rem;
  inset: 3.125rem 3.125rem auto auto;
}
#main #Contact .layer-4 {
  width: 6rem;
  inset: auto auto 6.25rem 6.25rem;
}

#footer {
  padding-block: 3rem;
  background-image: linear-gradient(to right, #4d179a, #59168b);
}
#footer .container .top {
  padding-bottom: 1.5rem;
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.1);
  gap: 1.5625rem;
}
#footer .container .top h2 {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-neutral-0);
}
#footer .container .top p {
  margin-bottom: 0;
  color: var(--color-surface-100);
}
#footer .container .top .icons {
  gap: 1.25rem;
}
#footer .container .top .icons .icon {
  height: 2.5rem;
  aspect-ratio: 1/1;
  align-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-neutral-0);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}
#footer .container .top .icons .icon:hover {
  transform: scale(1.1);
  background-color: var(--color-primary-700);
}
#footer .container > span {
  margin-top: 1.5rem;
  font-size: 0.875rem;
  color: var(--color-primary-200);
}
#footer .container > span i {
  color: #ff6467;
}/*# sourceMappingURL=index.css.map */